<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content inner-page">

            <div class="page-header navbar navbar-fixed-top">
                    <!-- BEGIN HEADER INNER -->
                    <div class="page-header-inner">
                      <!-- BEGIN LOGO -->
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                          <div class="page-logo">
                            <a href="index.html">
                              <img src="../../assets/img/logo.png" alt="logo" class="logo-default"/>
                            </a>
                            <div class="menu-toggler sidebar-toggler hide"> </div>
                          </div><!--page-logo-->
                        </div>
                     
                      </div>
                    </div>
                  <!-- END LOGO -->  
                </div>

<br/><br/> 
      <h1>Conference Preiew</h1><br/>
      <div class="grid-srch">
        <div class="grid-srch-lt"> 
          <div class="input-group add-on">
            <input type="text" id="srch-term" name="srch-term" placeholder="Search" class="form-control">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    
        
        <!-- Conference-Preiew -->
        
            <div class="Upcoming-tab-content Conference-Preiew">
                <div class="col-sm-4 col-md-3">
                    <div class="img-block">
                        <img src="{{detailData.event.eventImage}}" alt="image">
                    </div><!--img-block-->
                </div>

                <div class="col-sm-8 col-md-9">
                    <div class="content-block">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                        <h3><i class="fa fa-user"></i>{{detailData.event.title}}</h3>
                                    <p>By {{detailData.organiser.first_name}} {{detailData.organiser.last_name}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                    <h3><i class="fa fa-calendar"></i> Conference Starts</h3>
                                    <p>{{convertToUtcDate(detailData.event.start_date_time)}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                    <h3><i class="fa fa-calendar"></i> Conference Ends</h3>
                                    <p>{{convertToUtcDate(detailData.event.end_date_time)}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                    <h3><i class="fa fa-map-marker"></i> {{detailData.event.location_name}}</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                    <h3><i class="fa fa-tag"></i> Conference Type</h3>
                                    <p>{{detailData.event.eventType}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="cp-content">
                                    <h3><i class="fa fa-tag"></i> Conference Category</h3>
                                    <p>{{detailData.event.eventCategory}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--content-block-->
                </div>
            </div>  <!--Upcoming-tab-content-->  
        <!-- Conference-Preiew -->

    </div>
    <!-- inner page -->

  </div>
  <!-- {{detailData.event.event_id}} -->
  <p><a href="javascript:;" class="btn btn-primary pink-btn" role="button" routerLink = '/confrence-sessions/:{{detailData.event.event_id}}'>Sessions List</a> </p>
  <p><a href="javascript:;" class="btn btn-primary pink-btn" role="button" routerLink = '/confrence-guestList/:{{detailData.event.event_id}}'>Guests List</a> </p>
  <p><a href="javascript:;" class="btn btn-primary pink-btn" role="button" routerLink = '/confrence-speakers/:{{detailData.event.event_id}}'>Speakers List</a> </p>
  <!-- END CONTENT -->


  <footer class="full-footer">
        <p>&copy; Copyright &copy; 2018 I-CMS </p>
      </footer>
    