<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Create Conference</title>
    <!-- Bootstrap core CSS -->
 
  </head>

<body class="page-header-fixed page-quick-sidebar-over-content ">
  <div class="wrapper">
      <div class="page-header navbar navbar-fixed-top">
          <!-- BEGIN HEADER INNER -->
          <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="page-logo">
                  <a href="index.html">
                    <img src="../../assets/img/logo.png" alt="logo" class="logo-default"/>
                  </a>
                  <div class="menu-toggler sidebar-toggler hide"> </div>
                </div><!--page-logo-->
              </div>
          
               
            </div>
          </div>
        <!-- END LOGO -->  
      </div>
    <!-- END HEADER -->
    
<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
  
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content inner-page inner-page2">
        
      <h1>Create Conference</h1>
      <!--<div class="grid-srch">
        <div class="grid-srch-lt"> 
          <div class="input-group add-on">
            <input type="text" id="srch-term" name="srch-term" placeholder="Search" class="form-control">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </div>
      </div>-->
    
        
        <!-- Conference-Preiew -->
        
            <div class="Upcoming-tab-content Conference-Preiew Conference-Preiew2">
                <!--<div class="col-sm-12">
                   <div class="pull-right Add-Event">
				   <a href="javascript:;" class="btn">Add Event</a>
				   </div>
                </div>-->

             
            </div>  <!--Upcoming-tab-content-->  
        <!-- Conference-Preiew -->
		<div class="event-sec">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="usr" class="label-text">Give your conference a title</label>
						<input type="text " class="form-control input-box">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="upload-box">
					<div class="hold">
						<span class="btn-file"> Upload Your Conference Images
						<p>Upload maximum 5 images in jpg,gif,png format</p>
						<input type="file">
						</span>
					 </div>
				</div>
		</div>
	
		</div>
		
				<div class="row margin-top">
		<div class="col-sm-8">
				<div class="form-group">
					<label for="usr" class="label-text">Describe your conference</label>
						<textarea class="form-control input-box textarea-box"></textarea>
				</div>
		</div>
		</div>
		
		<div class="row margin-top">
		<div class="col-sm-4">
				<div class="form-group">
					<label for="usr" class="label-text">Conference Type</label>
						 <select class="form-control input-box">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						  </select>
				</div>
				
			</div>
		<div class="col-sm-4">
		<div class="form-group">
					<label for="usr" class="label-text">Conference Category</label>
						 <select class="form-control input-box">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						  </select>
				</div>
				</div>
				</div>
				
				<div class="row margin-top">
				<div class="col-sm-4">
				<div class="form-group">
					<label for="usr" class="label-text">Venue</label>
						<input type="text " class="form-control input-box">
				</div>
			</div>
			 <div class="col-sm-5 col-md-6  col-xs-12 form-group">
		      <label class="label-text">Do u Like Me ?</label><br>
		          <div class="form-check-inline">

					<label class="customradio"><span class="radiotextsty">Free</span>
					  <input type="radio" checked="checked" name="radio">
					  <span class="checkmark"></span>
					</label>        
					<label class="customradio"><span class="radiotextsty">Paid</span>
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>

				</div>
		  </div>

		  </div>
		  
		  <div class="row">
		  <div class="col-sm-12">
		    <label class="label-text">Set the date of your conference</label>
			</div>
			<div class="col-md-12 margin-top">
		  <div class="form-group2">
				<div class="form-group">
				
						<div class="test">
							<label for="usr" class="label-text">From</label>
						<input type="text" class="form-control input-box input-box2">
						<span class="font-some"><a href="javascript:;"><img src="../../assets/img/calndar.png"></a></span>
						</div>
				</div>
			</div>
			  <div class="form-group2">
				<div class="form-group">
				
						<div class="test">
							<label for="usr" class="label-text">&nbsp;</label>
						<input type="text" class="form-control input-box input-box2">
						<span class="font-some"><a href="javascript:;"><img src="../../assets/img/clock.png"></a></span>
						</div>
				</div>
			</div>
			
			  <div class="form-group2">
				<div class="form-group">
				
						<div class="test">
							<label for="usr" class="label-text">To</label>
						<input type="text" class="form-control input-box input-box2">
						<span class="font-some"><a href="javascript:;"><img src="../../assets/img/calndar.png"></a></span>
						</div>
				</div>
			</div>
			
			  <div class="form-group2">
				<div class="form-group">
				
						<div class="test">
							<label for="usr" class="label-text">&nbsp;</label>
						<input type="text" class="form-control input-box input-box2">
					<span class="font-some"><a href="javascript:;"><img src="../../assets/img/clock.png"></a></span>
						</div>
				</div>
			</div>
			</div>
			</div>
				<div class="row">
		 <div class="col-sm-12">
                   <div class="pull-left session editbtn">
				   <a href="javascript:;" class="">Done</a>
				   </div>
                </div>
			</div>
			</div>

    </div>

    <!-- inner page -->

  </div>
  <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->

  <!-- FOOTER -->
  <footer class="full-footer">
    <p>&copy; Copyright &copy; 2018 Swaraj </p>
  </footer>

  </div>

  </body>
</html>
