<!DOCTYPE html>
<html lang="en">

<body class="page-header-fixed page-quick-sidebar-over-content ">
  <div class="wrapper">
    <div class="page-header navbar navbar-fixed-top">
      <!-- BEGIN HEADER INNER -->
      <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="page-logo">
              <a href="index.html">
                <img src="../../assets/img/logo.png" alt="logo" class="logo-default"/>
              </a>
              <div class="menu-toggler sidebar-toggler hide"> </div>
            </div><!--page-logo-->
          </div>
      
          <div class="col-xs-12 col-sm-8 col-md-8 col-right">
            <a href="javascript:;" class="menu-toggler hd-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-bars" aria-hidden="true"></i> 
            </a>
            <div class="header-right">                
               <div class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="menu1" ><i class="fa fa-user" aria-hidden="true"></i>  blufeeld.com/ Peter Wilson <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" href="#">HTML</a></li>
                        <li role="presentation"><a role="menuitem" href="#">CSS</a></li>
                        <li role="presentation"><a role="menuitem" href="#">JavaScript</a></li>
                      </ul>
                </div> 
            </div><!--header-rights-->
          <!-- END TOP NAVIGATION MENU -->
          </div>
        </div>
      </div>
    <!-- END LOGO -->  
  </div>
<!-- END HEADER -->

<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
  
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <div class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler text-left">
          <h3>Mobile World</h3>
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </div>
      <div class="navogation_tabs">
        <!-- Nav tabs -->
        <div class="nav nav-tabs" role="tablist">
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="product">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">    
              <li>
                <a href="javascript:;">
                  <i class="fa fa-bell"></i>
                  <span class="title">Edit Conference</span>
                  <span class="arrow"></span>
                </a>
              </li>
              <li class="start active">
                <a href="javascript:;" routerLink="/confrence-detail/sessions" routerLinkActive="active">
                  <i class="fa fa-list"></i>
                  <span class="title" >Sessions</span>
                  <span class="arrow "></span>
                </a>   
              </li>
              <li>
                <a href="javascript:;" routerLink="/confrence-detail/speakers" routerLinkActive="active">
                  <i class="fa fa-list"></i>
                  <span class="title">Speakers</span>
                  <span class="arrow "></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-list "></i>
                  <span class="title">Vendors</span>
                  <span class="arrow "></span>
                </a>
              </li>
              <li>
                <a href="javascript:;" routerLink="/confrence-detail/guests" routerLinkActive="active">
                  <i class="fa fa-gears"></i>
                  <span class="title" >Guests</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Pricing</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Statistics</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Revenue Stats</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Heat Maps</span>
                  <span class="arrow "></span>
                </a>
              </li>       
            </ul>  

          </div>
        </div>

      </div><!--navogation_tabs-->
      
      <!-- END SIDEBAR MENU -->
    </div>

  </div>
  <router-outlet></router-outlet>
  <!-- END SIDEBAR -->

</div>
<!-- END CONTAINER -->

  <!-- FOOTER -->
  <footer class="full-footer">
    <p>&copy; Copyright &copy; 2018 I-CMS </p>
  </footer>

  </div>
  </body>
</html>