<div class="page-content-wrapper ">
  <div class="page-content inner-page">

    <h1>Speaker Details</h1>
    <div class="grid-srch">
      <div class="grid-srch-lt">
        <div class="input-group add-on">
          <input type="text" id="srch-term" name="srch-term" placeholder="Search" class="form-control">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Conference-Preiew -->

    <div class="Upcoming-tab-content Conference-Preiew Conference-Preiew2">
      <div class="col-sm-12">
        <div class="pull-right Add-Event">
          <a href="javascript:;" class="btn">Add Event</a>
        </div>
      </div>


    </div>
    <!--Upcoming-tab-content-->
    <!-- Conference-Preiew -->
    <div class="event-sec">
      <div class="row margin-top">
        <div class="col-sm-12">
          <div class="col-sm-2">
            <div class="form-group">
              <div class="edit-img ">
                <img src="images/edit_guest.jpg" alt="images" title="images">
              </div>
            </div>
          </div>
          <div class="col-sm-9 spkr-page margin-top ">

            <div class="content-block spkr-detail">
              <div class="content-otr ">
                <h2>
                  <b>Daniel Smith</b>
                </h2>
                <h5>
                  <span class="img-icon">
                    <img src="images/email.png">
                  </span> akash.dhiman@hotmail.com</h5>
                <h4> Qualification :
                  <b>PHD</b>
                </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, no principes vituperatoribus qui, eam et alia lobortis omittantur. Ut vim mollis
                nostrum scripserit, at his idque commune. Id quo tota fastidii expetendis, pro id augue minimum praesent.
                Has tation virtute et. Exerci nonumes eligendi vis ut.</p>

            </div>
            <!--content-block-->
          </div>
          <div class="social-icons spkr-page">
            <a href="javascript:;">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="javascript:;">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="bg-black" href="javascript:;">
              <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row margin-top">
      </div>
      <div class="row margin-top">
        <div class="col-sm-12">
          <div class="pull-left session editbtn">
            <input type="button" value="Edit">
          </div>
          <div class="pull-left session editbtn">
            <input type="button" value="Delete">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>