@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

section, source, video { display: block; margin: 0; padding: 0 }
body { margin: 0; padding: 0; font-size: 14px; color: #000; font-family: 'Roboto', sans-serif; height:100%; }
html, body { margin: 0; padding: 0; height: 100%; }
a { text-decoration: none }
a,input,img{ outline:none; border:none;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type="button"], input[type="submit"] { -webkit-appearance: none; font-family: 'Roboto', sans-serif; outline:none; }
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], select, textarea { border-radius: 0; font-family: 'Roboto', sans-serif; }
a:focus { outline: none !important; }
:focus { outline: none !important; box-shadow: none !important;}
form { margin: 0; padding: 0; }
img { border: 0; }
ul, ol { margin: 0; padding: 0; }
li { margin: 0; padding: 0; list-style-type: none; }
.clr { clear: both; }


/*** Small Classes ***/
section, aside, footer, header, h1, h2, h3, h4, h5, h6, p, span, figure, div, body, html, input, ul, li, a, img, label { margin: 0; padding: 0  }
.wrapper{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -79px; }
.required{ font-size: 13px; float: left; width: 100%; color: #cc5965 ; padding-left: 5px;  line-height: 15px; }

/*---header css---*/
.page-header.navbar{float: left; width: 100%; background: #FDFDFD; background-size: cover; height: 70px; box-shadow: 0 0 3px 1px #cccccc; }
.header-right{ background:#68a437; float: right; height: 70px; max-width: 262px;  width: 100%;}
.header-right .dropdown{ width: 100%; }
.header-right .dropdown a{ padding: 25px 15px ; color: #fff; text-decoration: none; display: inline-block; width: 100% }
.header-right .dropdown a:hover{ background: transparent; text-decoration: none; }
.header-right .dropdown a i{ font-size: 16px;  padding-right: 8px;}
.header-right .dropdown a .caret { border-left: 7px solid rgba(0, 0, 0, 0); border-right: 7px solid rgba(0, 0, 0, 0); border-top: 7px dashed; margin-left: 13px; color:#969596; float: right; margin-top: 7px;} 
.header-right .nav .open > a, .header-right .nav .open > a:focus, .header-right .nav .open > a:hover{background: transparent;}
.header-right .dropdown .dropdown-menu{ padding: 0; border-radius: 0; margin: 0; padding: 0; width: 100%; }
.header-right .dropdown .dropdown-menu li:hover{  background: #0f90ea; }
.header-right .dropdown .dropdown-menu li:hover a{ color: #fff }
.header-right .dropdown .dropdown-menu li a{ color: #434243;  padding-bottom: 10px;
    padding-top: 10px;  }

/*---left side nav---*/
.page-content-wrapper .page-content {margin-left: 0;margin-top: 0;min-height: 100%;padding: 20px;}
.page-content-wrapper, .page-sidebar-wrapper {display: table-cell;height: 100%;vertical-align: top;width: 100%;}
.page-content-wrapper, .page-sidebar-wrapper {display: table-cell;float: none;height: 100%;width: 100%;}
.page-sidebar-wrapper {width: 265px;background:#68a437; border-top: 0px solid #0f90ea; border-right: 1px solid #68a437;}
.page-sidebar-menu li{ border-bottom: 1px dashed #fff !important }
.page-sidebar-menu li a{ color: #fff; text-transform: uppercase; }
.page-sidebar-menu li.active{ background:#68a437; }
.page-sidebar-menu li:hover{ background:#68a437; }
.page-sidebar-menu li.active a .arrow:before, .page-sidebar-menu li:hover a .arrow:before{ float: right;
 width: 10px; text-align: center; margin-top: -1px; margin-right: 5px; margin-left: 5px; display: inline; font-size: 18px; font-family: FontAwesome; height: auto; content: "\f0da"; font-weight: 300; text-shadow: none;}
.navogation_tabs .nav-tabs{ border-bottom: 0; background: #68a437; border-top: 0 none; }
.sidebar-toggler-wrapper .sidebar-toggler {color: #ffffff;height: auto;margin-bottom: 20px;margin-right: 0;margin-top: 19px;opacity: 1;width: 100%;padding: 0 15px;}
.page-content-wrapper{ background: #fff }


/*---button---*/
.btn-outer{ float: left; width: 100%; margin: 5px 0; text-align: center; }
.grey-btn:hover{  background: rgba(67, 66, 67, 0.9);}
.blueDeatil-btn {background: #68a437 none repeat scroll 0 0;border-radius: 50px;color: #ffffff;display: inline-block;font-size: 14px;font-weight: 500;max-width: 150px;padding: 10px 5px;text-align: center;text-transform: uppercase;width: 100%;}
.blueDeatil-btn:hover{ text-decoration: none; color: #fff; background:#68a437;}


/*---footer---*/
.full-footer{ float: left; width: 100%; background:#68a437; }
.full-footer p{ text-align: center; color: #fff; margin: 0; font-size: 13px; font-weight: 500; padding: 30px 10px;}

/** dashboard **/
.inner-page h1, .grid-srch {
  float: left;
  width: 50%;
}

/*---Responsive css---*/
@media only screen and (max-width:991px) {
	.page-header.navbar .hd-toggler{ height: 33px; opacity: 0.9; width: 33px; background: #000; text-align: center;	line-height: 31px;  margin: 17px 0px 0 15px !important; color: #fff;}
	.page-sidebar-wrapper{  display: table; float: left; height: auto; max-width: 330px;
	 position: absolute; right: 0;  width: 100%;  z-index: 99; }
	.page-sidebar-wrapper .navbar-collapse,  .page-sidebar-wrapper .navbar-collapse.in  { margin: 0; }
	.page-content-wrapper{ float: left; }
	
}

@media only screen and (max-width:767px) {
	.main-carousel .carousel-inner .Imgslide{ height: 100%; max-width: inherit; position: inherit;text-align: center; width: auto; }
	.page-header.navbar{background: url("../images/full-header-bg.jpg") no-repeat scroll 0 0 / 100% 70px #58b8ef; height: 140px;}
	.page-header-fixed .page-container {  margin-top: 0px !important; }
	.page-sidebar-wrapper { top: 0px; max-width: 320px; }
	.page-header.navbar .page-logo{ width: 100%; text-align: center; }
	.page-header.navbar .page-logo a{ float: none; }
	.page-content-wrapper .page-content {padding: 20px !important;}
	.page-header .page-header-inner .row{ margin: 0;  }
	.page-header .page-header-inner .col-xs-12{ padding: 0; }
	.page-sidebar, .page-sidebar.in{ margin: 0 !important }
	.inner-page h1{ padding: 10px;  font-size: 18px; }
	
}

@media only screen and (max-width:480px) {
	.login-in{  padding: 20px; }
	.login-in h1{ font-size: 24px; }
	.page-header.navbar .hd-toggler{margin: 17px 0 0 5px !important;}
	.page-content-wrapper .page-content {padding: 10px !important;}
	.page-sidebar-wrapper { max-width: 310px;}
    .grid-srch-lt{ width: 100%;  margin: 0 0 20px;}
    .grid-srch-lt .input-group{ float: none;  max-width: 90%; margin: 0 auto; } 
    .grid-srch-rt{ width: 100%; text-align: center; }
}