<!DOCTYPE html>
<html lang="en">

<body class="page-header-fixed page-quick-sidebar-over-content " *ngIf="navService.visible">
  <div class="wrapper">
     
     
<!-- END HEADER -->

<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container" *ngIf="navService.visible">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <div class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler text-left">
          <h3>Mobile World</h3>
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </div>
      <div class="navogation_tabs">
        <!-- Nav tabs -->
        <div class="nav nav-tabs" role="tablist">
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="product">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">    
              <li>
                <a href="javascript:;">
                  <i class="fa fa-bell"></i>
                  <span class="title">Edit Conference</span>
                  <span class="arrow"></span>
                </a>
              </li>
              <li class="start active">
                <a href="javascript:;">
                  <i class="fa fa-list"></i>
                  <span class="title">Sessions</span>
                  <span class="arrow "></span>
                </a>   
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-list"></i>
                  <span class="title">Speakers</span>
                  <span class="arrow "></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-list "></i>
                  <span class="title">Vendors</span>
                  <span class="arrow "></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Guests</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Pricing</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Statistics</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Revenue Stats</span>
                  <span class="arrow "></span>
                </a>
              </li>  
              <li>
                <a href="javascript:;">
                  <i class="fa fa-gears"></i>
                  <span class="title">Heat Maps</span>
                  <span class="arrow "></span>
                </a>
              </li>       
            </ul>  

          </div>
        </div>

      </div><!--navogation_tabs-->
      
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <!-- END SIDEBAR -->

  <app-confrence-dashboard></app-confrence-dashboard>
 

</div>
<!-- END CONTAINER -->

  
  </div>
  </body>
</html>


